.appointment-container{
    display: flex;
    justify-content: space-between;
    background-color: #0168b3;
}
.appointment-form-section{
    margin: 60px 0 0 150px;
}
.appointment-form-section h1{
    color: #ffffff;
    line-height: 1;
    font-size: 35px;
}
.appointment-form  input{
    height: 50px;
    width: 300px;
    padding-left: 10px;
    margin: 7px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
.appointment-form .submit-btn{
    font-size: 18px;
    font-weight: 500;
    width: 310px;
    background-color: #ee344e;
    color: #ffffff;
}
.appointment-pic{
    margin-right: 40px;
}
.appointment-pic img{
    margin-top: 30px;
    width: 420px !important;
}