.checkout-container{
    display: grid;
    grid-template-columns:65% 35%;
    margin: 50px 100px;
    
}
.info{
    margin: 50px;
    padding: 20px;
    border: 2px solid #b5b5b5;
    border-radius: 6px;
}
.info h3{
    color: #555555;
}
.personal-info >input ,
.card-info > input{
    width: 40%;
    height: 50px;
    padding: 0 10px;
    font-size: 17px;
    color: #b5b5b5;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    
}
.card-details >input{
    width: 25%;
    height: 50px;
    padding: 0 8px;
    font-size: 17px;
    color: #b5b5b5;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;

}
.personal-info>input:focus,
.card-info>input:focus{
    outline: none;
}
.pay-method{
    margin: 10px 0;
}
.pay-method >label {
    font-size: 17px;
    margin-left: 10px;
    font-weight: 700;
    color: #ee344e;

}
.tc{
    color: #ee344e;
    font-weight: 600;
}
.pay-btn{
    border: none;
    padding: 12px 20px;
    margin: 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: #ee344e;
    color: #ffffff;
    border-radius: 5px;
}

.summary{
    margin-top: 50px;
    padding: 0px 30px;
    background-color: #ee344e;
    border-radius: 7px;
    height: 400px;
}
.summary h3{
    color: #ffffff;
}
.doctor-img {
    height: 100px;
    width: 100px;
}
.doctor-img img{
    width: 100%;
    border-radius: 5px;
}
.doctor-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doctor-info h4{
    color: #ffffff;
}
.fas{
    color: #d9d7d7;
}
.about{
    color: #d7d6d6;
}