@media only screen and (max-width: 480px){
    .card{
        margin: 10px !important;
    }
}
.card{
    width: 346px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.card-text{
    padding: 10px;
}
.card-text h3{
    color: #0168b3;
}
.card-text p {
    color: gray;
    font-size: 16px;
    font-family:  monospace;
}
.price{
    font-size: 17px;
    font-weight: 600;
    color: #ee344e;
}
.appoinment{
    padding: 6px 20px;
    margin: 3px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 2px solid #ee344e;
    background-color: #ee344e;
}
.appoinment:hover{
    border: 2px solid #0168B3;
    color: #0168B3;
    background-color: #ffffff;
    transition: .4s;
}