.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
}
.header-link a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 15px;
}
.header-btn{
    padding: 10px 18px;
    background-color: #EE344E;
    border-radius: 5px;
    border: none;
}
.header-btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.header-btn:hover{
    background-color: #0168B3;
}