.reset-box{
    width: 400px;
    height: 300px;
    background-color: #ee344e;
    margin: 0 auto;
    border-radius: 10px;
}
.reset-box input {
    font-size: 20px;
    color: #ee344e;
    text-align: center;
    height: 55px;
    width: 350px;
    border-radius: 6px;
    border: none;
}
.reset-box form {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.reset-btn{
    font-weight: 600;
}
.reset-btn:hover{
    cursor: pointer;
}